{% extends "base.html" %}
{% load static %}

{% block body %}

				<!-- Main -->
					<div id="main" class="alt">

						<!-- One -->
							<section id="one">
								<div class="inner">
									<header class="major">
										<h1>{{ user.nickname }}</h1>
									</header>
									<span class="image main"><img src="{% static "images/pic11.jpg" %}" alt="" /></span>
									<p>Имя: {{ user.name }}</p>
									<p>Фамилия: {{ user.surname }}</p>
									<p>Возраст: {{ user.age }} лет</p>
									<p>Хобби: {{ user.hobby }}</p>
									<p>Созданные мероприятия:
										{% for event in events %}
										<el>
									<li>Название: {{ event.title }}</li>
									<li>Место: {{ event.place }}</li>
									<li>Цена: {{ event.price }} руб.</li>
									<li>Краткое описание: {{ event.short_description }}</li>
									<li>Полное описание: {{ event.full_description }}</li>
								</el>
										{% endfor %}
									</p>
									<p>Иду на:
										{% for event in subs %}
										<el>
									<li>Название: {{ event.title }}</li>
									<li>Место: {{ event.place }}</li>
									<li>Цена: {{ event.price }} руб.</li>
									<li>Краткое описание: {{ event.short_description }}</li>
									<li>Полное описание: {{ event.full_description }}</li>
								</el>
										{% endfor %}
									</p>
								</div>
								<div>
							<h1><a href="{% url 'poster_redactor' %}">Создать мероприятие</a></h1>
								</div>
							</section>

					</div>
{% endblock body%}

